.section-left {
    margin-left: 30px;
    
}

md-input-container{
    width: 500px;
    margin-left: -25px;
    padding-top: 7px;
}

/* .col-sm-8{
   padding-top: 25px;
   padding-right: 40px;
    text-align: -webkit-right;
} */

