<h1 md-dialog-title>{{title}}</h1>
<div md-dialog-content >
    <md-select placeholder="Select Task" [(ngModel)]="data.value" style="width: 100%">
        <md-option *ngFor="let task of taskSet" [value]="task">
            {{task.title}}
        </md-option>
    </md-select>
</div>
<br><br>
<div md-dialog-actions>
        <button md-button (click)="dialogRef.close('CANCEL')">{{cancel}}</button>
        <p style="width: 80%"></p>
        <button md-button (click)="dialogRef.close(data)" >{{save}}</button>
</div> 
