<br><br>
<div  class="container-fluid" *ngIf="account">
    <app-header [account]="account"></app-header>
    <div class="row" *ngIf="show">
        <div class="col-sm-4 col-forgot">
            <div class="main-body">
                <div class="card bg-color-white">
                    <form class="md-form-auth form-validation" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                        <div class="card-content">
                            <span class="card-title" style="font-size: 20px;">PASSWORD RESET</span>
                            <div class="form-group">
                                <md-input-container class="full-width  no-margin-bottom">
                                    <input mdInput type="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email*">
                                </md-input-container>
                            </div>
                            <p class="text-center text-small no-margin">
                                Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                            </p>
                            <p class="text-center text-small no-margin" style="color: red" *ngIf="error">*Wrong Email. Please enter correct</p>
                        </div>
                        <br><br>
                        <button md-raised-button type="submit" color="primary" style=" width: 100%; height: 50px;" [disabled]="!forgotForm.valid">RESET MY PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!show">
        <div class="col-sm-4 col-forgot">
            <div class="main-body" >
                <div class="card bg-color-white">
                    <div class="card-content">
                        <span class="card-title" style="font-size: 20px;">CONFIRM EMAIL</span><br>
                        <p style="text-align: center; margin-right: 80px;">
                            <md-icon class="material-icons" style="font-size: 100px;">mail_outline</md-icon>
                        </p>
                        <p class="text-center text-small no-margin">
                            An email has been send to <strong>{{this.forgotForm.value.email}}</strong>. Please check for an email from us and click on the included link to reset your password.
                        </p>
                    </div>
                    <br><br>
                    <button md-raised-button type="submit" color="primary" style=" width: 100%; height: 50px;" (click)="goLogin()">RETURN TO LOGIN PAGE</button>
                </div>
            </div> 
        </div>
    </div>
</div>

<div *ngIf="account">
    <br>
    <app-footer [account]="account"></app-footer>
</div>
