<div myPreloader class="preloaderbar hide"><span class="bar"></span></div>
<div class="page-auth" *ngIf="account"><br><br>
    <app-header [account]="account"></app-header>
    <div class="main-body">
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="logo"> <a [routerLink]="['/']">Reset Password</a> </div>
                <form class="md-form-auth form-validation" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons">lock</md-icon>
                                <input mdInput type="password" formControlName="newPassword" placeholder="New Password*">
                            </md-input-container>
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons">lock</md-icon>
                                <input mdInput type="password" formControlName="repeatePassword" placeholder="Repeat New Password*">
                            </md-input-container>
                        </div>

                        <div class="divider divider-md"></div>
                        <button md-raised-button type="submit" class="float-right" [disabled]="!resetForm.valid || uuid == null || uuid == undefined ">Reset</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <a [routerLink]="['/extra/login']" style="color: #2196F3;"><b>Login</b></a>
                </div>
            </div>
        </div>
    </div>

    <app-footer [account]="account"></app-footer>
</div>